.address {
  font-style: normal;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address-city {
  color: #ffffff;
}

.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item {
  margin-bottom: 9px;
}

.address__item .address__link:hover,
.address__item .address__link:focus {
  color: var(--accent-color);
}
